$primaryColor: #051031;
$lightenPrimary: #020718;
$secondaryColor: #ffffff;
$accentColor: #bfd94d;


/*Gral CSS*/
:focus {
  outline: 0;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  font-weight: 300;
  font-size: 100%;
  font-size: 15px;
  margin: 0;
}

a {
  color: $accentColor;
  &:hover {
    color: $primaryColor;
  }
}

.container {
  max-width: 80rem;
}
.bg-blue-node,
.hover-bg-blue-node:hover {
  background-color: $primaryColor
}
.bg-green-node,
.hover-bg-green-node:hover {
  background-color: $accentColor;
}
.bg-dark-node,
.hover-bg-dark-node:hover {
  background-color: $lightenPrimary;
}

.green-node,
.hover-green-node:hover {
  color: $accentColor;
}

.blue-node,
.hover-blue-node:hover {
  color: $primaryColor;
}
.dark-node,
.hover-dark-node:hover {
  color: $lightenPrimary;
}

%absoluteBlock {
  display: block;
  position: absolute;
  text-align: center;
}

.go-map {
  color: $accentColor;
  .tooltip {
    @extend %absoluteBlock;
    text-transform: uppercase;
    background: $secondaryColor;
    top: 50px;
    color: $primaryColor;
    right: 50%;
    margin-right: -35px;
    opacity: 0;
    padding: 5px 10px;
    font-size: 12px;
    transform: translateY(10px);
    transition: all .3s ease-out;

    &:after {
      content: " ";
      position: absolute; 
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid $secondaryColor;
      bottom: 23px;
      height: 0;
      margin-left: -35px;
      width: 0;
    }

    &:before {
      content: " ";
      @extend %absoluteBlock;
      top: -20px;
      height: 20px;
    }
  }

  &:hover {
    color: $secondaryColor;
    .tooltip {
    opacity: 1;
    transform: translateY(0)
  }

}
}

.animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

.btn {
  padding: .8rem 1.5rem;
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}

@media screen and (max-width: 60em) {
  .dn-ms {
    display: none;
  }
}